<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.yagay.ybrowser.ai.bridge.AiBridgeProvider"
            android:authorities="com.yagay.YBrowser.ai.bridge"
            android:exported="true"
            android:grantUriPermissions="true" />

        <activity
            android:name="com.yagay.ybrowser.ai.AiWorkspaceActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.yagay.YBrowser.action.OPEN_AI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.yagay.YBrowser.action.OPEN_AI_SESSION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.yagay.YBrowser.action.OPEN_AI_WEB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.yagay.AIHub.action.OPEN_AI" />
                <action android:name="com.yagay.AIHub.action.CHATGPT_BINDING_SYNC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.yagay.AIHub.action.OPEN_AI_WEB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
